
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}main{
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    width: 100%;
}
.nav--first--section{
    display: flex;
    gap: 1rem;
    justify-content: center;
    box-shadow: #E2E2E2 0px 4px 4px -2px;
}
.nav--image{
    width: 1rem;
    height: 1rem;
}
li{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.nav--item--menu{
     margin-right: auto;
}
.nav--item--phone{
    margin-left: auto;
    margin-right: 3%;
}
.nav--second--section{
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    justify-content: space-between;
    
}

.nav--second--section--item--search{
    display: flex;
    align-items: stretch;
}
.nav--second--section--button--search{
    background-color: #F53E32;
    border: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 1rem;

    
}
.nav--second--section--input{
    border: #64B496 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    border-right: none;
}
.nav--second--section--select{
    border: #64B496 2px solid;
    
    border-right: none;
}

.nav--second--section--item--icons{
    display: flex;
    margin-left: auto;
    gap: 2rem;
}


.nav--second--section--item--logo{
    margin-right: auto;
}

.nav--third--section{
 background-color: #F53E32;
 display: flex;
 justify-content:space-evenly;
}

.nav--third--section--text{
    color:white;
}

.section--product--info{
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 3rem;
}

.section--product--info--sidebar{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F8;
    margin: 2rem;
    align-items: center;
    border: solid 1px grey;
    border-radius: 2rem;
}

.section--product--info--sidebar--categories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
}

.section--product--info--sidebar--categories--item{
    display: flex;
    gap: 1rem;
}

.section--product--info--sidebar--price--filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.section--product--info--sidebar--price--filter--range{
    width: 100%;
    accent-color: #F53E32;
}
.section--product--info--sidebar--price--filter--button{
    align-self: flex-start;
    background-color: #F53E32;
    width: 80%;
    border: none;
    
    color: white;
    border-radius: 0.5rem;
}

.section--product--info--sidebar--filter--category--color{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section--product--info--sidebar--filter--category--color--list{
    display: flex;
    flex-direction: column;
    
}

.section--product--info--sidebar--filter--category--color--list--item{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.section--product--info--sidebar--filter--category--color--list--item--colorbox{
    width: 1rem;
    height: 1rem;
    border: 1px solid none;
    border-radius: 10%;
}

.section--product--info--sidebar--filter--weight{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section--product--info--sidebar--filter--weight--list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section--product--info--sidebar--filter--weight--list--item{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.section--product--info--sidebar--filter--tags--list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}
.section--product--info--sidebar--filter--tags--list--item{
  border: 1px solid black;
  border-radius: 10%;
  padding: 0.5rem 1rem;
  text-align: center;
}
.section--buy--product--info{
display: flex;

}
.section--buy--product--info--mainframe-picture{
    margin-top: 2rem;
    height: 40%;
    width: 60%;
    background-color: #F7F7F8;
    border: solid 1px none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section--buy--product--info--review{
    margin: 2rem;
}
.section--buy--product--info--mainpicture{
    width: 100%;
    height: 80%;
}

.section--buy--product--info--review-item-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.section--buy--product--info--review-item-list h2{
    margin: 0; 
}

.section--buy--product--info--review-item-list p{
    margin: 0; 
}

.section--buy--product--info--review--stars,
.section--buy--product--info--review--additional--info{
    display: flex;
    gap: 0.5%;
    align-items: center;
}